h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: -1px;
  color: var(--cor-h);
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.9rem;
}


.span-required {
  font-size: 14px;
  margin: 3px 0 0 1px;
  color: var(--color-red);
  display: none;
  padding: 1.4rem 0.4rem;
  background: var(--cor-principal-secundaria);
  border-radius: 1rem;
}